.navbar .navbar-brand {
	width: 230px;
}

.navbar .nav > li.user > a > span.username,
.navbar .nav > li.user > a > i[class="icon-caret-down small"] {
	display: none;
}

.navbar .navbar-brand {
	line-height: 58px;
}
.navbar-nav>li>a {
	line-height: 30px;
}

.error-message {
	color: #b94a48;
	margin-top: 5px;
	margin-bottom: 10px;
}

.help-block {
	clear: both;
}

.input.date {
	clear: both;
	float: left;
	margin-bottom: 5px;
}

.select-wrapper {
	float: left;
	margin-right: 5px;
}

.add-dynamic {
	margin-bottom: 10px;
	float: left;
}

.remove-parent {
	cursor: pointer;
	line-height: 30px;
}

.row-warning td, .widget-header-warning, .cell-warning {
	background-color: #FDD9A5 !important;
}

.row-alert td, .widget-header-alert, .cell-alert {
	background-color: #f2dede !important;
}

td .label {
	display: inline-block;
	font-size: 84%;
}